<template>
    <div
        class="photo-crop-area"
        :style="frameStyle"
        @mousedown="moveEvent"
    >
        <div
            class="resizer top-left"
            @mousedown="topLeftEvent"
        />
        <div
            class="resizer top-right"
            @mousedown="topRightEvent"
        />

        <div
            class="resizer bottom-left"
            @mousedown="bottomLeftEvent"
        />

        <div
            class="resizer bottom-right"
            @mousedown="bottomRightEvent"
        />
    </div>
</template>

<script setup lang="ts">
import {computed, defineEmits, defineProps, WritableComputedRef} from "vue";

const emit = defineEmits(['move', 'top-left', 'top-right', 'bottom-left', 'bottom-right'])

const props = defineProps({
    width: {
        type: Number,
        default: 0
    },

    height: {
        type: Number,
        default: 0
    },

    top: {
        type: Number,
        default: 0
    },

    left: {
        type: Number,
        default: 0
    }
})

const frameStyle: WritableComputedRef<string> = computed({
    get(): string {
        return `width: ${props.width}px; height: ${props.height}px; top: ${props.top}px; left: ${props.left}px;`
    },

    set(): void {
    },
});

const moveEvent = (event: MouseEvent) => {
    emit('move', event)
}
const topLeftEvent = (event: MouseEvent) => {
    emit('top-left', event)
}

const topRightEvent = (event: MouseEvent) => {
    emit('top-right', event)
}

const bottomLeftEvent = (event: MouseEvent) => {
    emit('bottom-left', event)
}

const bottomRightEvent = (event: MouseEvent) => {
    emit('bottom-right', event)
}

</script>