.photo-crop {
  margin-top: 20px;

  &-container {
    position: relative;
    background: rgba(0, 0, 0, 0.1);
    //width: 800px;
    //height: 600px;

    margin: 40px auto 0;

    &:before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
    }
  }

  &-area {
    position: absolute;
    cursor: move;
    width: 300px;

    left: 10%;
    top: 15%;
    height: 100px;
    z-index: 10;
    background: rgba(0, 34, 255, 0.3);
    border: 3px solid #4286f4;
    box-sizing: border-box;

    .resizer {
      width: 10px;
      height: 10px;
      border-radius: 50%; /*magic to turn square into circle*/
      background: white;
      border: 3px solid #4286f4;
      position: absolute;
      z-index: 9;

      &.top-left {
        left: -8px;
        top: -8px;
        cursor: nwse-resize; /*resizer cursor*/
      }

      &.top-right {
        right: -8px;
        top: -8px;
        cursor: nesw-resize;
      }

      &.bottom-left {
        left: -8px;
        bottom: -8px;
        cursor: nesw-resize;
      }

      &.bottom-right {
        right: -8px;
        bottom: -8px;
        cursor: nwse-resize;
      }
    }
  }

  &-img {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    z-index: 1;
    user-select: none;
  }
}

