<template>
    <div
        v-if="isReady"
        class="photo-crop"
    >
        <div
            class="photo-crop-container"
            :style="`width: ${containerWidth}px; height: ${containerHeight}px`"
            ref="photoCropContainer"
        >
            <img
                :src="dataImage"
                alt="photo crop"
                class="photo-crop-img"
            >

            <crop-frame
                :width="cropFrameResult.width"
                :height="cropFrameResult.height"
                :top="cropFrameResult.top"
                :left="cropFrameResult.left"

                @move="(event: MouseEvent) => photoCropClass.frameAreaEvent(event)"

                @top-left="(event: MouseEvent) => photoCropClass.resizer(event, photoCropClass.dragForTopLeft)"
                @top-right="(event: MouseEvent) => photoCropClass.resizer(event, photoCropClass.dragForTopRight)"
                @bottom-left="(event: MouseEvent) => photoCropClass.resizer(event, photoCropClass.dragForBottomLeft)"
                @bottom-right="(event: MouseEvent) => photoCropClass.resizer(event, photoCropClass.dragForBottomRight)"
            />
        </div>
    </div>
</template>

<script setup lang="ts">
import {ref, Ref, defineEmits, watch, defineProps, nextTick} from 'vue'
import CropFrame from "./CropFrame.vue";

import PhotoCropClass from './PhotoCropClass'
import ICropFrame from "./interface/CropFrame.interface";

import './photo-crop.less'

const emit = defineEmits(['result'])
const props = defineProps({
    file: {
        type: FileList
    }
})

watch(
    () => props.file,
    () => {
        initPhotoCrop()
    }
)


let photoCropClass: PhotoCropClass

const photoCropContainer = ref<HTMLElement | null>(null)
const dataImage: Ref<string> = ref('')
const isReady: Ref<boolean> = ref(false)

const cropFrameResult: Ref<ICropFrame> = ref({
    width: 0,
    height: 0,
    top: 0,
    left: 0
})

const containerWidth: Ref<number> = ref(800)
const containerHeight: Ref<number> = ref(600)

/**
 * Функция получает файл из инпута и возвращет содержимое в base64
 */
const getFileContent = (file: File) => {
    const fileReader = new FileReader()

    fileReader.onload = event => {
        if (typeof event.target!.result === 'string') {
            dataImage.value = event.target!.result
        }
    }

    fileReader.readAsDataURL(file)
}

/**
 * Метод возвращает размеры и позицию рамки относительно рабочей области
 * размеры изображения, которые были установлены в браузере
 */
const returnResult = () => {
    const $image: HTMLElement | null = photoCropContainer.value!.querySelector('img')
    const imageSize = $image!.getBoundingClientRect()

    emit('result', {
        width: cropFrameResult.value.width,
        height: cropFrameResult.value.height,
        top: cropFrameResult.value.top,
        left: cropFrameResult.value.left,
        imageWidth: imageSize.width,
        imageHeight: imageSize.height,
    })
}

/**
 * Метод, который вызвается при изменениях параметров рамки
 * @param data
 */
const photoCropUpdateEvent = (data: ICropFrame) => {
    cropFrameResult.value.width = data.width
    cropFrameResult.value.height = data.height
    cropFrameResult.value.top = data.top
    cropFrameResult.value.left = data.left

    returnResult()
}

/**
 * При попадании файла в свойство компонента вызывается метод
 * Он получает содержимое файла для отображение
 * И запускает класс PhotoCropClass для работы с кропом фотки
 */
const initPhotoCrop = async () => {
    if (props.file?.length) {
        getFileContent(props.file[0])
    }

    isReady.value = true
    await nextTick()

    photoCropClass = new PhotoCropClass(photoCropUpdateEvent, {
        containerWidth: containerWidth.value,
        containerHeight: containerHeight.value
    })
}
</script>
