<script>
// import PhotoCrop from '../lib/PhotoCrop.vue'
import { PhotoCrop } from 'photo-crop-test-component'
import 'photo-crop-test-component/dist/style.css'

export default {
    name: 'App',

    data() {
        return {
            imgFile: null,
            cropResult: null
        }
    },

    components: {
        PhotoCrop
    },

    methods: {
        previewPhoto (event) {
            this.cropResult = null
            this.imgFile = event.target.files
        }
    }
}
</script>

<template>
    <div>
        <input
            type="file"
            accept=".jpg, .jpeg, .png"
            ref="imageFile"
            @change="previewPhoto"
        >

        {{ cropResult }}

        <photo-crop
            :file="imgFile"
            @result="payload => cropResult = payload"
        />
    </div>
</template>
